<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Hello world!</p>
<p>Current time: {{ variable }}</p>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class="flash">
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<h2>SQLAlchemy only</h2>
<p>The following will only change if using a SQLAlchemy database</p>
{% if current_user and current_user.is_authenticated %}
You are logged in as {{ current_user.username }}!
<a href="{{ url_for("users.logout") }}">Log out</a>
{% else %}
You are not logged in.
<p>
        <a href="{{ url_for('cern_oauth.login') }}">Login with CERN Account</a>
    </p>
{% endif %}

</body>
</html>